video{
/*    position: absolute;*/
    z-index: 0;
    background: url(mel.jpg) no-repeat;
    background-size: 100% 100%;
    top: 0px;
    left: 0px; /* fixed to left. Replace it by right if you want.*/
    min-width: 100%;
    min-height: 70%;
    width: auto;
    height: auto;
}
#test{
    position: absolute;
    z-index: 99;
    height: 400px;
}

.navbar-dark .navbar-nav .nav-link{
/*    font-size: 1.9rem;*/
/*  font-weight: 500;*/
    /* padding: 0 40px; */
    color: rgba(255,255,255,1.00)
}



/*------------------------------------------*/
body {
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
}

p {
  color: #8F8F8F;
}

/*Headings*/
.big-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

/*Containers*/
.container-fluid {
  padding: 7% 15%;
}

/*sections*/
.colored-section{
    background-color: #282b30;
    color: white;
}

/*#press.colored-section{
   padding-top: 50px;
     margin-bottom: -30px;
}*/

.white-section{
    background-color: white;
}


/*Navigation Bar*/
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: 300;
}

/*Download Buttons*/
.download-button {
  margin: 5% 3% 5% 0;
}

/*Title Section*/
#title{

}

#title>.container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

/*Title Image*/
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/*Features section*/
#features {
  position: relative;
}

.feature-title {
  font-weight: 700;
  font-size: 1.5rem;
}

.icon {
  color: #EF8172;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #FF4C68;
}
.iconcomment {
  color: #75cffc;
  margin-bottom: 1rem;
}
.iconcomment:hover {
  color: #00aaff;
}

.iconvote {
  color: #ff8c62;
  margin-bottom: 1rem;
}

.iconvote:hover {
  color: #FF4500;
}


/*testimonials section*/
#testimonials {
  background-color: #282b30;
}

.testimonial-text {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.review-image{
  width:20%;
  border-radius: 100%;
  margin: 10px;
}

/*press section*/
#press {
  background-color: #EF8172;
  /*background-color: #473d56;*/
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.tech-container{
  margin-top: -50px;
  margin-bottom: 50px;
}

.tech-stack-python {
  /*width: 20%;*/
  max-height:150px;
  max-width: 150px;
  margin-right: 5px;
}

.tech-stack-psql {
  /*width: 10%;*/
  max-height:100px;
  max-width: 100px;
  padding: 10px;
}

.tech-stack-flask {
  /*width: 10%;*/
  max-height:100px;
  max-width: 100px;
  padding:10px;
}

.tech-stack-jinja {
  width: 10%;
  max-height:100px;
  max-width: 100px;
  margin-right: :10px;
}

.tech-stack-js {
  width: 10%;
  max-height:100px;
  max-width: 100px;
  padding: 10px;
}

.thanks{
  margin-top: -50px;
}

.kitty-logo{
  width: 15%;
  
  margin-bottom: -95px;
}

/*priceing section*/
#pricing {
  padding: 100px;
}

#pricing .btn-al{
    position: relative;
    top: 13.9%;
}

.price-text {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

.card-body{
    height: 328px;
}

/*Call To Arms Section*/


/*Footer Section*/
.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

.stars{
  color:#ffaf11;
}

.social_icons{
  display:inline-flex;
  
}

.linkedin{
  padding: 10px;
  border-radius: 5px;
  color: #378cb4;
  /* HOVER OFF */
  -webkit-transition: padding 2s;

}
.linkedin:hover{
  padding-top: 20px;
  border-radius: 15px;
  color:#0e76a8;

  /* HOVER ON */
  -webkit-transition: border-radius 2s;
}
.github{
  padding: 10px;
  border-radius: 5px;
  color: #454546;
  /* HOVER OFF */
  -webkit-transition: padding 2s;
  
}
.github:hover{
  padding-top: 20px;
  border-radius: 15px;
  color: black;

  /* HOVER ON */
  -webkit-transition: border-radius 2s;
}
.twitter{
  padding: 10px;
  border-radius: 5px;
  color: #4fd6ff;

  /* HOVER OFF */
  -webkit-transition: padding 2s;
  
}
.twitter:hover{
  padding-top: 20px;
  border-radius: 15px;
  color:#1dcaff;
  /* HOVER ON */
  -webkit-transition: border-radius 2s;
}
.facebook{
  padding: 10px;
  border-radius: 5px;
  color: #607399;

  /* HOVER OFF */
  -webkit-transition: padding 2s;
  
}
.facebook:hover{
  padding-top: 20px;
  border-radius: 15px;
  color:#3b5998;

  /* HOVER ON */
  -webkit-transition: border-radius 2s;
}
.reddit{
  padding: 10px;
  border-radius: 5px;
   color: #ff8c62;

  /* HOVER OFF */
  -webkit-transition: padding 2s;
  
}
.reddit:hover{
  padding-top: 20px;
  border-radius: 15px;
  color:#FF4500;

  /* HOVER ON */
  -webkit-transition: border-radius 2s;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

/*.modal-backdrop
{
    opacity:0.5 !important;
}*/

.press-logo2{
  /*width: 50%;*/
  margin-bottom: -20px;
  margin-top: 10px;
  height: 5rem;
  /*position: absolute;*/
}