/*Title*/
#navbar_header{
  color:white;
  width:100%;
  position:fixed;
  z-index: 999999;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 14%, rgba(91,98,175,1) 36%, rgba(13,38,175,1) 100%);    
}

.navbar-image{
    width: 4.5rem;
    border-radius: 50%;
    padding:2px;
}
.navbar{
    padding:0;
}

.navbar-dark .navbar-nav .nav-link{
    font-size: 1rem;
    /*color: rgba(0,0,0,1.00)*/
}

.navbar-nav{

  margin-right: 400px;
}


.linkedin{
  padding: 10px;
  border-radius: 5px;
  
  /* HOVER OFF */
  -webkit-transition: padding 2s;

}
.linkedin:hover{
  padding-top: 20px;
  border-radius: 15px;
  color:#0e76a8;

  /* HOVER ON */
  -webkit-transition: border-radius 2s;
}
.github{
  padding: 10px;
  border-radius: 5px;
  
  /* HOVER OFF */
  -webkit-transition: padding 2s;
  
}
.github:hover{
  padding-top: 20px;
  border-radius: 15px;
  color: black;

  /* HOVER ON */
  -webkit-transition: border-radius 2s;
}
.twitter{
  padding: 10px;
  border-radius: 5px;
  

  /* HOVER OFF */
  -webkit-transition: padding 2s;
  
}
.twitter:hover{
  padding-top: 20px;
  border-radius: 15px;
  color:#1dcaff;
  /* HOVER ON */
  -webkit-transition: border-radius 2s;
}
.facebook{
  padding: 10px;
  border-radius: 5px;
  

  /* HOVER OFF */
  -webkit-transition: padding 2s;
  
}
.facebook:hover{
  padding-top: 20px;
  border-radius: 15px;
  color:#3b5998;

  /* HOVER ON */
  -webkit-transition: border-radius 2s;
}
.reddit{
  padding: 10px;
  border-radius: 5px;
  

  /* HOVER OFF */
  -webkit-transition: padding 2s;
  
}
.reddit:hover{
  padding-top: 20px;
  border-radius: 15px;
  color:#FF4500;

  /* HOVER ON */
  -webkit-transition: border-radius 2s;
}

.comments{
  color:#3b5998;
}
.likes{
  color:#3b5998;
  margin-left: 20px
}
.dislikes{
  color:#3b5998;
  margin-left: 20px
}

.social_icons{
  display:inline-flex;
  
}
.logout{
  color:yellow;
}

.login{
  color:#be7e3e;
}

.vote-container{
  display: flex;
  flex-direction: column;
  margin-top:25px;
  margin-right: 10px

}

.upvote{
  color:gray;

}
.upvote:hover{
  color:#FF4500;
}

.downvote{
  color:gray;

}
.downvote:hover{
  color:#7289da;
}

.votecount{
 
 margin-left:10px;

}
.votecount:hover{
  color:gray;
}
.votecount_comment{
 
 margin-left:4px;

}
.votecount_comment:hover{
 
 color:gray;

}

.up{

}

.members_count{
  color:white;
}
/*=================================================*/

body {
  background: #fafafa;
  color: #333333;
  /*margin-top: 5rem;*/
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;

}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-img_comment {
  height: 35px;
  width: 35px;
  margin-right: 16px;
}



.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/*=================*/

.community_name{
  color:white;
}

.community_title{
  background:blue;
  width: 100%;
}

.container{
  /*margin-top: 65px;*/
  padding-top:90px;
}