/*Title*/
#navbar_header{
    background:#648DFF;
    color:white;
    /*position:fixed;*/
    width:100%;

}

.navbar-image{
    width: 4.5rem;
    border-radius: 50%;
    padding:2px;
}
.navbar{
    padding:0;
}

.navbar-dark .navbar-nav .nav-link{
    font-size: 1rem;
    /*color: rgba(0,0,0,1.00)*/
}

.navbar-nav{

  margin-right: 400px;
}

.linkedin{
  padding: 10px;
  border-radius: 5px;
  
  /* HOVER OFF */
  -webkit-transition: padding 2s;

}
.linkedin:hover{
  padding-top: 20px;
  border-radius: 15px;
  color:#0e76a8;

  /* HOVER ON */
  -webkit-transition: border-radius 2s;
}
.github{
  padding: 10px;
  border-radius: 5px;
  
  /* HOVER OFF */
  -webkit-transition: padding 2s;
  
}
.github:hover{
  padding-top: 20px;
  border-radius: 15px;
  color: black;

  /* HOVER ON */
  -webkit-transition: border-radius 2s;
}
.twitter{
  padding: 10px;
  border-radius: 5px;
  

  /* HOVER OFF */
  -webkit-transition: padding 2s;
  
}
.twitter:hover{
  padding-top: 20px;
  border-radius: 15px;
  color:#1dcaff;
  /* HOVER ON */
  -webkit-transition: border-radius 2s;
}
.facebook{
  padding: 10px;
  border-radius: 5px;
  

  /* HOVER OFF */
  -webkit-transition: padding 2s;
  
}
.facebook:hover{
  padding-top: 20px;
  border-radius: 15px;
  color:#3b5998;

  /* HOVER ON */
  -webkit-transition: border-radius 2s;
}
.reddit{
  padding: 10px;
  border-radius: 5px;
  

  /* HOVER OFF */
  -webkit-transition: padding 2s;
  
}
.reddit:hover{
  padding-top: 20px;
  border-radius: 15px;
  color:#FF4500;

  /* HOVER ON */
  -webkit-transition: border-radius 2s;
}

.social_icons{
  display:inline-flex;
  
}

/*=================================================*/

body {
  background: #fafafa;
  color: #333333;
  /*margin-top: 5rem;*/
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/*=================*/

.community_name{
  color:white;
}

.community_title{
  background:blue;
}

.container{
  margin-top: 65px;
}