{% extends 'base.html' %}


{% block title %}
<div class="hero-image  mb-4">
  <img class="hero-image2 container-fluid" src="/static/images/reddit_kristen2.jpg">

<!--   <div class="hero-text">
    <h1 class="community_title">Welcome!</h1>
    <p><small class="members_count">Hello</small></p>
    {% if current_user.is_authenticated %}
    <h4> Welcome, {{ current_user.username }}.</h4>
    {% endif %}
  </div> -->
</div>

{% endblock %}

{% block content %}

  
  <!-- User Image -->
  <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
          <h2 class="account-heading">{{ current_user.username }}</h2>
          <p class="text-secondary">{{ current_user.email }}</p>
        </div>
      </div>
  <!-- FORM HERE -->
  

  <form action="" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Account Info</legend>
      <div class="form-group">
        <!-- Getting Label of Form -->
        {{form.username.label(class="form-control-label")}}

        {% if form.username.errors %}
          {{form.username(class="form-control form-control-lg is-invalid")}}
          <div class="invalid-feedback">
            {% for error in form.username.errors%}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{form.username(class="form-control form-control-lg")}}
        {% endif %}
      </div>
    

      <div class="form-group">
        {{form.email.label(class="form-control-label")}}

        {% if form.email.errors %}
          {{form.email(class="form-control form-control-lg is-invalid")}}
          <div class="invalid-feedback">
            {% for error in form.email.errors%}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{form.email(class="form-control form-control-lg")}}
        {% endif %}
      </div>

      <!-- Picture Update -->
      <div class="form-group">
        {{ form.picture.label() }}
        {{ form.picture(class="form-control-file") }}
        <!-- Error Check -->
        {% if form.picture.errors %}
            {% for error in form.picture.errors %}
                <span class='text-danger'>{{ error }}</span><br>
            {% endfor %}
        {% endif %}
    </div>
     
    </fieldset>

    <div class="form-group">
      {{form.submit(class="btn btn-outline-info")}}
    </div>
  </form>

 </div>


{% endblock %}

{% block sidebar %}
    <div class="ad col-md-4">
      <div class="content-section">
        <h5><img class="sidebar-image mr-2" src="/static/images/kristen_snoo.png" alt="Keddit Logo"></a>  Account</h5>

      
        
        <p class='text-muted'><small>Update your username, email, profile picture, and more.</small>
          <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="/communities"><button type="button" class="btn btn-light btn-sm mr-2"><i class="fas fa-layer-group fa-lg mr-2" style="color:#e5c100;"></i>  Communities</button></a></li>

            <li class="list-group-item list-group-item-light"><a href="/community/new"><button type="button" class="btn btn-light btn-sm mr-2"><i class="fas fa-user-edit fa-lg mr-2" style="color:#7289da;"></i>  Create Community</button></a>
            <li class="list-group-item list-group-item-light"><a href="/home"><button type="button" class="btn btn-light btn-sm mr-2"><i class="fas fa-chart-line fa-lg mr-2"style="color:#FF4500;"></i>  Popular</button></a></li>

            <li class="list-group-item list-group-item-light"><a href="/account"><button type="button" class="btn btn-light btn-sm mr-2"><i class="fas fa-user-astronaut fa-lg mr-2 "style="color:#BA55D3;"></i>  Account</button></a></li>
          </ul>
        </p>
      </div>

<!-- ================= -->

      <div class="content-section">
        <h6 class="text-muted"> Advertisement</h6>

      
        
            
           <div class="ad-gif">
              <img class="ad-gif" src="/static/images/sombra.gif">
            </div>
            <p class="text-muted"><small><i>Artist: Smegolas</i></small></p>
        </div>
      
            </div>
    </div>

{% endblock %}