<!doctype html>
<html>
<head>
    <title>keddit</title>
</head>
<body>

Nav Bar

{% if "user_id" in session %}
  <a href="/">Home</a>
  <a href="/logout">Logout</a>
{% else %}
  <a href="/">Home</a> 
  <a href="/login">Login</a>
{% endif %}

<hr>

<!-- {% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %} -->

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert--{{ category}}">
            {{message}}
        </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

{% block content %}
  Put your body here.
{% endblock %}

</body>
</html>