<!doctype html>
<html>
<head>
    <title>keddit</title>
</head>
<body>

<a href="/">keddit</a>

<!-- Show Home Link and Login/Logout depending if the user in logged in or not -->
{% if current_user.is_authenticated %}
    <a href="/home">Front Page</a>
    <a href="{{url_for('new_community')}}">Create Community</a>
    <a href="/communities">View Communities</a>
    <a href="/logout">Logout</a>
    
{% else %}
    <a href="/">Home</a> 
    <a href="/login">Login</a>
    <a href="/communities">View Communities</a>

{% endif %}

<!-- {% if "user_id" in session %}
  <a href="/">Home</a>
  <a href="/logout">Logout</a>
{% else %}
  <a href="/">Home</a> 
  <a href="/login">Login</a>
{% endif %} -->

<hr>

<!-- {% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %} -->

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert--{{ category}}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% block content %}
  Put your body here.
{% endblock %}

</body>
</html>