{% extends 'base.html' %}
{% block content %}

<!-- community_name is the object we got in our route -->
  
  <div class="community_title">
     <h1 class = "community_name">k/ {{ community.community_name }}</h1> 
     <small>{{ members_count }} members</small>
  </div>
  <br>
  <div>
    <!-- Create Post Button -->
    <a class='btn btn-primary' href="/k/{{ community.community_name }}/post/new" role='button'>Create Post</a>
  </div><br>

  <!-- Display Posts -->
  {% for post in posts %}
    <article class="media content-section">
        <!-- Upvotes/Downvotes -->
          <div class="vote-container">
            <div class="up"><a href="/k/{{community.community_name}}/posts/{{post.id}}/upvote"><i class="upvote fas fa-arrow-alt-circle-up fa-2x"></i></a></div>
            <div class="votecount"> {{votes[loop.index-1]}} </div>
            <div class="down"><a href="/k/{{community.community_name}}/posts/{{post.id}}/downvote"><i class="downvote fas fa-arrow-alt-circle-down fa-2x"></i></a></div>
          </div>

      <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/' + post.creator.image_file) }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ post.creator.username }}</a>
          <small class="text-muted">{{ post.date.strftime('%Y-%m-%d') }}</small>
        </div>
        <!-- Link post title to post link -->
        <h2><a class="article-title" href="/k/{{ community.community_name }}/post/{{post.id}}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.body }}</p>

      </div>
    </article>
      
  {% endfor %}

  
{% endblock %}