{% extends "base.html" %}

{% block style %}
<style media="screen">
  .body.{{community.community_name}}{
    background-image: url(/static/images/{{community.community_name}}.jpg)
  }
</style>
{% endblock%}

{% block community %}
  {{community.community_name}}
{% endblock%}

{% block title %}
{% endblock %}


{% block content %}


<small class="text-muted"><i class="far fa-comment"></i> Comment</small><br><br>

 <!-- Hidden Field -->
        <input type="hidden" id="post_id" name="post_id" value="{{post.id}}">
       <input type="hidden" id="community_name" name="community_name" value="{{community.community_name}}">
       <input type="hidden" id="comment_id" name="comment_id" value="{{comment.id}}">

<article class="media content-section">
    <!-- Upvotes/Downvotes -->
  <div class="vote-container">
    <div class="up_comment"><a href="/k/{{community.community_name}}/post/{{post.id}}/comment/{{comment.id}}/upvote"><i class="upvote fas fa-arrow-alt-circle-up"></i></a></div>
    <div class="votecount_comment"> {{ rating_count }} </div>
    <div class="down_comment"><a href="/k/{{community.community_name}}/post/{{post.id}}/comment/{{comment.id}}/downvote"><i class="downvote fas fa-arrow-alt-circle-down"></i></a></div>
  </div>


      <img class="rounded-circle article-img_comment" src="{{ url_for('static', filename='images/' + comment.creator.image_file) }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ comment.creator.username }}</a>
          <small class="text-muted">{{ comment.date.strftime('%Y-%m-%d') }}</small>
        </div>
              {% if comment.creator == current_user %}
              <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="/k/{{community.community_name}}/post/{{post.id}}/comment/{{comment.id}}/update">Update</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#delete-comment-Modal">Delete</button>
              </div>
              {% endif %}
        <p class="article-content">{{ comment.body }}</p>
      </div>
    </article>


<!-- Modal  which is a drop down confirmation to "delete" box -->
  <div class="modal fade" id="delete-comment-Modal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Comment?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="/k/{{community.community_name}}/post/{{post.id}}/comment/{{comment.id}}/delete" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>












{% endblock content %}