{% extends 'base.html' %}
{% block content %}

<!-- community_name is the object we got in our route -->
  
  <div style="background-color:silver;color:white;padding:20px;margin:10px;border-style: ridge">
     <h1 class = "community_name">k/ {{ community.community_name }}</h1> 
     <small>{{ members_count }} members</small>
  </div>
  <div>
    <a class="btn btn-primary" href="/post/new" role="button">Create Post</a>
  </div><br>

  <!-- Display Posts -->
  {% for post in posts %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">author</a>
          <small class="text-muted">date</small>
        </div>
        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.body }}</p>
      </div>
    </article>
      
  {% endfor %}

  
{% endblock %}