{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block content %}

<h1>k/{{community.community_name}} </h1><br>

    <!-- Hidden Field -->
       <input type="hidden" id="community_name" name="community_name" value="{{community.community_name}}">

<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <!-- Title -->
        <fieldset class="form-group">

            <legend class="border-bottom mb-4">{{ legend }} <img src="/static/images/giphybadgewhite.png"></legend>

            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <!-- Content and Body of Post -->
            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}
                
                    {{ form.content(class="form-control form-control-lg") }}
            </div>




            <div class="form-group">
                {{ form.giphy_url.label(class="form-control-label") }}
                
                    {{ form.giphy_url(class="form-control form-control-lg bucket") }}
            </div>
        </fieldset>

        <div id="gifPreview"></div>

        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>


    
       
  <input type="text" id="giphyQuery" name="giphy_query">
        <br><img class="giphybadge" src="/static/images/giphybadge.gif">
        <button id="giphySearch">Search <img src="/static/images/giphybadgewhite.png"></button>
        <ul id="giphy_search_results">
            <li id="giphy_result_0"></li>
           <li id="giphy_result_1"></li>
           <li id="giphy_result_2"></li>
           <li id="giphy_result_3"></li>
           <li id="giphy_result_4"></li>

        </ul>
   
    
    </form>
</div>




{% endblock content%}