{% extends 'base.html' %}


{% block title %}
<h3>Front Page</h3>

    {% if current_user.is_authenticated %}
      <h4> Welcome, {{ current_user.username }}.</h4>
    {% endif %}
  <br>

   <a class='btn btn-primary' href="/communities" role='button'>View Communities</a>
  </div><br>
{% endblock %}


{% block content %}

<!-- Display Posts -->
  {% for post in posts %}
  <!-- <h1>{{post.id}} -->
  </h1>
  <input type="hidden" id="post_id" name="post_id" value="{{post.id}}">
       <input type="hidden" id="community_name" name="community_name" value="{{communities[loop.index0]}}">
       
    <article class="media content-section">
            <!-- Upvote Arrow -->
          <div class="vote-container"> 
            <div class="arrow-container">
            <div class="up_post_list"><a href="/k/{{communities[loop.index0]}}/posts/{{post.id}}/upvote"><i data-id ="{{post.id}}" class="upvote fas fa-arrow-alt-up fa-lg"></i></a></div>

            <!-- Display Votes -->
            <div class="votecount" id="votecount{{post.id}}"> {{votes[loop.index0]}} </div>

            <!-- Downvote Arrow -->
            <div class="down_post_list"><a href="/k/{{communities[loop.index0]}}/posts/{{post.id}}/downvote"><i data-id="{{post.id}}"class="downvote  fas fa-arrow-alt-down fa-lg"></i></a></div>
          </div>
      </div>

      <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/' + post.creator.image_file) }}">
      <div class="media-body">
        <div class="article-metadata">
         <a class="subkeddit-title mr-2" href="/k/{{communities[loop.index0]}}"><small class="text-muted"></small>k/{{communities[loop.index0]}}</a>

          <small class="text-muted">• Posted by <a class="subkeddit-user mr-1" href="{{ url_for('user_account', username=post.creator.username) }}">u/{{ post.creator.username }}</a></small>
    
          <small class="text-muted">on {{ post.date.strftime('%Y-%m-%d') }}</small>

        </div>
        <!-- Link post title to post link -->
        <h5><a class="article-title" href="/k/{{communities[loop.index0]}}/post/{{post.id}}">{{ post.title }}</a></h5>
        <p class="article-content">{{ post.body }}</p>
        <!-- Put picture here -->

         
     
            
         
         

          {% if post.image_url %}
        <img class="post-img" src="{{ post.cloudinary_url }}">
        {% endif %}
     
           
          
        <p><small class="text-muted"><i class="comments fas fa-comment-alt"></i> {{comments[loop.index0]}} Comments</small>
        

      </div>
    </article>
      
  {% endfor %}






  <a class="btn btn-primary" href="/communities" role="button">View Communities</a>
  <br><br>
  <a class="btn btn-primary" href="/account" role="button">Account</a>
    <br><br>

{% endblock %}

    {% block sidebar %}
    <div class="ad col-md-4">
      <div class="content-section">
        <h5><img class="sidebar-image" src="/static/images/logo.png" alt="Keddit Logo"></a>  k/popular</h5>

      
        
        <p class='text-muted'><small>The best posts on Keddit for you, pulled from the most active communities on Keddit. Check here to see the most shared, upvoted, and commented content on the internet.</small>
          <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="/communities"><button type="button" class="btn btn-light btn-sm mr-2"><i class="fas fa-layer-group fa-lg mr-2" style="color:blue;"></i>  Communities</button></a></li>

            <li class="list-group-item list-group-item-light"><a href="/community/new"><button type="button" class="btn btn-light btn-sm mr-2"><i class="fas fa-user-edit fa-lg mr-2" style="color:blue;"></i>  Create Community</button></a>
            <li class="list-group-item list-group-item-light"><a href="/home"><button type="button" class="btn btn-light btn-sm mr-2"><i class="fas fa-chart-line fa-lg mr-2"style="color:blue;"></i>  Popular</button></a></li>

            <li class="list-group-item list-group-item-light"><a href="/account"><button type="button" class="btn btn-light btn-sm mr-2"><i class="fas fa-user-astronaut fa-lg mr-2 "style="color:blue;"></i>  Account</button></a></li>
          </ul>
        </p>
      </div>

<!-- ================= -->

      <div class="content-section">
        <h6 class="text-muted"> Advertisement</h6>

      
        
            <p class='text-muted'><small></small>
            <div class="ad-image">
              <img class="ad-image" src="/static/images/serena.jpeg" alt="AD Logo">
            </div>
        
            </p>
            </div>
    </div>

{% endblock %}