{% extends "base.html" %}

{% block title %}
<a href="/k/{{community.community_name}}"><h1>k/{{ community.community_name }}</h1></a>
{% endblock %}


{% block content %}


        <!-- Main USER POST -->

        <!-- Hidden Field -->
        <input type="hidden" id="post_id" name="post_id" value="{{post.id}}">
       <input type="hidden" id="community_name" name="community_name" value="{{community.community_name}}">

        <article class="media content-section">
          <!-- Upvotes/Downvotes -->
          <div class="vote-container">
            <div class="arrow-container">
            <!-- <div class="up"><i class="upvote fas fa-arrow-alt-circle-up fa-2x"></i></div> -->
            <div class="up">
            <svg data-id="{{post.id}}" class="arrowup" version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 227.01 252.74" style="enable-background:new 0 0 227.01 252.74;"
                xml:space="preserve">
                <path class="upvote" d="M154.22,127.75c0,0,0,105.26,0,112.38s-6.33,12.23-13.85,12.26c-7.52,0.03-48.26-0.18-55.38,0
        c-7.12,0.18-12.26-5.54-12.26-13.45c0-7.91,0-110.95,0-110.95s-43.85,0.82-58.15,0s-18.76-15.41-9.89-23.96s99.89-99.89,99.89-99.89
        c4.55-4.95,13.52-5.21,18.4,0c4.88,5.21,100.19,100.19,100.19,100.19c8.6,9.59-0.07,23.66-9.99,23.66
        C211.97,128.14,154.22,127.75,154.22,127.75z" />
              </svg>
            </div>

            <div class="votecount"> {{rating_count}} </div>


            <!-- <div class="down"><i class="downvote fas fa-arrow-alt-circle-down fa-2x"></i></a></div> -->
            <div class="down">
            <svg data-id="{{post.id}}" class="arrowdown" version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 227.01 253.36" style="enable-background:new 0 0 227.01 253.36;"
                xml:space="preserve">
                <path  class="downvote" d="M153.61,126.3h58.95c11.47,0.4,18.12,14.56,9.49,23.34c-8.62,8.78-94.95,93.76-99.49,99.49c-4.55,5.74-12.76,5.64-18.4,0
        s-90.4-90.99-99.2-99.2s-1.68-23.64,9.79-23.64s57.76,0,57.76,0s0.4-103.65,0-111.56c-0.4-7.91,6.33-14.04,14.04-14.04
        s47.67,0,54.4,0c6.73,0,13.39,6.72,13.35,13.35S153.61,126.3,153.61,126.3z" />
              </svg>
            </div>

          </div>
        </div>








       
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/' + post.creator.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="subkeddit-title mr-2" href="/k/{{community.community_name}}"><small class="text-muted"></small>k/{{community.community_name}}</a>

              <small class="text-muted">• Posted by <a class="subkeddit-user mr-1" href="#">u/{{ post.creator.username }}</a></small>
              <small class="text-muted">on {{ post.date.strftime('%Y-%m-%d') }}</small>
          

              {% if post.creator == current_user %}
              <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="/k/{{community.community_name}}/post/{{post.id}}/update">Update</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
              </div>
              {% endif %}
            </div>

            <h5><a class="article-title" href="/k/{{community.community_name}}/post/{{post.id}}/update">{{ post.title }}</a></h5>
            <p class="article-content">{{ post.body }}</p>

             <!-- Put picture here -->
          {% if post.image_url %}
          <img class="post-img" src="{{ url_for('static', filename='images/' + post.image_url) }}">
          {% endif %}

            <p><small class="text-muted"><i class="comments fas fa-comment-alt"></i> {{comments_count}} Comments</small>
            <small class="text-muted"><i class="likes far fa-thumbs-up"></i></i> {{upvote_count}} likes</small>
            <small class="text-muted"><i class="dislikes far fa-thumbs-down"></i></i> {{downvote_count}} dislikes</small>

            </p>
            
          </div>
        </article>
     

        <!-- Modal  which is a drop down confirmation to "delete" box -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="/k/{{community.community_name}}/post/{{post.id}}/delete" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
    

<!-- Create Post Button -->
  <div>
    <a class='btn btn-outline-primary btn-sm' href="/k/{{community.community_name}}/post/{{post.id}}/comment/new" role='button'>Create Comment</a>
  </div><br>

  <!-- Send SMS -->
  <div>
    <a class='btn btn-outline-primary btn-sm' href="/k/{{community.community_name}}/post/{{post.id}}/send_sms" role='button'>Send SMS</a>
  </div><br>


  <!-- Display comments -->
  {% for comment in comments %}

  <input type="hidden" id="comment_id" name="comment_id" value="{{comment.id}}">

    <article class="media content-section">

      <!-- Upvotes/Downvotes -->
  <div class="vote-container">
    <div class="up_comment_list"><a href="/k/{{community.community_name}}/post/{{post.id}}/comment/{{comment.id}}/upvote"><i data-id="{{comment.id}}" class="upvote fas fa-arrow-alt-circle-up"></i></a></div>

    <div class="votecount_comment" id="votecount_comment{{comment.id}}"> {{votes[loop.index0]}} </div>

    <div class="down_comment_list"><a href="/k/{{community.community_name}}/post/{{post.id}}/comment/{{comment.id}}/downvote"><i data-id="{{comment.id}}" class="downvote fas fa-arrow-alt-circle-down"></i></a></div>
  </div>

      <img class="rounded-circle article-img_comment" src="{{ url_for('static', filename='images/' + comment.creator.image_file) }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="/k/{{community.community_name}}/post/{{post.id}}/comment/{{comment.id}}">{{ comment.creator.username }}</a>
          <small class="text-muted">{{ comment.date.strftime('%Y-%m-%d') }}</small>
        </div>      
        <p class="article-content">{{ comment.body }}</p>
      </div>
    </article>
 {% endfor %}



{% endblock content %}